security:
    # Stratégie de hachage
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            
            # Configuration du formulaire
            form_login:
                login_path: app_login
                check_path: app_login # Symfony intercepte les requêtes POST sur cette route
                enable_csrf: true
                default_target_path: app_home # Route vers laquelle rediriger après succès
                username_parameter: email
                password_parameter: password
            
            logout:
                path: app_logout
                target: app_login

            # Optionnel : pour rester connecté entre les sessions
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800 # 1 semaine

    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }